<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png">
    <script src="/js/app.js"></script>
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h4>Hey, my name is {{name}}.</h4>
        <p>I am a full-stack software developer based in Budapest, Hungary.</p>
        <p>Take a look at my projects on <a href={{github}}>GitHub</a></p>
        <img src={{img}} class="portrait"/>
        <br>
        <p><em>This site uses data from mapbox.com and weatherstack.com</em></p>
    </div>

    {{>footer}}
</body>
</html>